/*========================
Declare variables for page
=========================*/
:root {

}

/*=====================
Basic Styles and Layout
======================*/

/*Global styles*/
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*In dreaded case of image not found*/
img:after {
display: inherit;
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 5px;
border: 1px dashed grey;
background-color: white;
z-index: 1;
font-family: verdana;
font-size: 0.8em;
content: "" attr(alt) " was not found";
}

/*=====================
Header and Nav Bar
======================*/

/*background image for header*/

/*h1 text to be curved like a comet tail across the background image*/

/*nav menu*/

/*=====================
Section styling
======================*/

/*=====================
Footer
======================*/

/*=====================
Media Queries 
======================*/

/*no video autoplay for mobile devices*/