/*========================
Declare variables for page
=========================*/
:root {

  /*backgrounds, boxes and borders, oh my*/
  --navbar: #f5f5f5; /*offwhite*/
  --navdark: #4527a0; /*purple*/
  --nav-fade: #AB47BC; /*violet*/
  --h1-sec1: #f44336; /*red*/
  --h1-sec2: #ffeb3b; /*yellow*/
  --h1-sec3: #2196f3; /*blue*/
  --h1-sec4: #4527a0; /*purple*/
  --sec-box: #f5f5f5; /*offwhite*/
  --sec1-side: #f44336; /*red*/
  --sec2-side: #ffeb3b; /*yellow*/
  --sec3-side: #2196f3; /*blue*/
  --footer: #f5f5f5; /*offwhite*/

  /*emotion colours*/
  --smile-main: #ffeb3b; /*yellow*/
  --grin-main: #ff5722; /*orange*/
  --grincry-main: #4caf50; /*green*/
  --sad-main: #2196f3; /*blue*/
  --sadcry-main: #009688; /*teal*/
  --meheyes-main: #607d8b; /*grey*/
  --meh-main: #8d6e63; /*brown*/
  --angry-main: #f44336; /*pink*/
  --annoyed-main: #e91e63; /*red*/

  /*text*/
  --heading: #262626; /*black*/
  --words: #f5f5f5; /*white*/
  --wordsRev: #262626; /*black*/
}

/*=====================
Basic Styles and Layout
======================*/
html {
  scroll-behavior: smooth;
  background-color: black;
}

/*set global styles*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*remove default list styling*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*fallback fonts - never shall Times New Roman be seen again!!!*/
h1,
h2,
a,
p,
figcaption,
input {
  font-family: Verdana, sans-serif;
}

/*fonts*/
h1,
h2,
h4,
figcaption {
  font-family: "Righteous", Georgia, cursive;
}

a,
p,
input {
  font-family: "Roboto", sans-serif;
}

/*=====================
Header and Nav Bar
======================*/
header {
  position: relative;
  margin: 0;
}

#header-img {
  margin: 2px;
}

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 33px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--navbar);
  background: linear-gradient(90deg, var(--navdark), var(--nav-fade));
  color: var(--words);
  border-bottom: solid 2.5px black;
  z-index: 999;
}

.navbar {
  position: absolute;
  right: 0;
  top: 25%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.nav-link {
  text-decoration: none;
  padding: 2px 10px;
  color: var(--words);
}

.nav-link:focus, .nav-link:hover, .nav-link:active {
  text-shadow: 2px 2px 2px var(--wordsRev); 
}

/*slide in to position header text then color fade and brighten animation*/
h1 {
  font-size: 3rem;
  line-height: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "anim1 anim2 anim3"
    "anim4 anim4 anim4";
  grid-gap: 2px;
  text-align: center;
  border-bottom: solid 2.5px black;
}

h1 #header-anim1 {
  background-color: var(--h1-sec1);
  grid-area: anim1;
}

h1 #header-anim2 {
  background-color: var(--h1-sec2);
  grid-area: anim2;
}

h1 #header-anim3 {
  background-color: var(--h1-sec3);
  grid-area: anim3;
}

h1 #header-anim4 {
  background-color: var(--h1-sec4);
  grid-area: anim4;
}

/*=====================
Section styling
======================*/
main {
  width: 80%;
  margin: 0 auto;
}

section {
  display: flex;
  flex-flow: row nowrap;
}

#what-block {
  border: 0.5rem solid var(--sec1-side);
  margin: 1rem;
  padding: 0;
}

#what-block .sec-blk:first-child {
  width: 25%;
  margin: 0;
  background-color: var(--sec1-side);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#why-block {
  border: 0.5rem solid var(--sec2-side);
  margin: 1rem;
  padding: 0;
  height: 350px;
}

#why-block .sec-blk:first-child {
  width: 75%;
  margin: 0;
}

#why-block .sec-blk:last-child {
  width: 25%;
  margin: 0;
  padding: 1rem;
  background-color: var(--sec2-side);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#how-block {
  border: 0.5rem solid var(--sec3-side);
  margin: 1rem;
  padding: 0;
}

#how-block .sec-blk:first-child {
  width: 25%;
  background-color: var(--sec3-side);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/*=====================
Product listing grid
======================*/
#product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template rows: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.product {
  border: 1px solid black;
}

.product figure {
  margin: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
}

.product figure div {
  flex: 2;
}

.product figure figcaption, .product figure p {
  flex: 1;
}

.product:nth-of-type(1)
{
  background-color: var(--smile-main);
}

.product:nth-of-type(2)
{
  background-color: var(--grin-main);
}

.product:nth-of-type(3)
{
  background-color: var(--grincry-main);
}

.product:nth-of-type(4)
{
  background-color: var(--sad-main);
}

.product:nth-of-type(5)
{
  background-color: var(--sadcry-main);
}

.product:nth-of-type(6)
{
  background-color: var(--meheyes-main);
}

.product:nth-of-type(7)
{
  background-color: var(--meh-main);
}

.product:nth-of-type(8)
{
  background-color: var(--annoyed-main);
}

.product:nth-of-type(9)
{
  background-color: var(--angry-main);
}

.profilepic {
  font-size: 4.5rem;
  text-align: center;
  padding: 1rem;
}


figcaption {
  color: var(--wordsRev);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

figure p {
  color: var(--wordsRev);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/*=====================
Media section - video
======================*/
#video {
  width: 100%;
  height: 100%;
}
/*=====================
Contact form
======================*/

#how-block .sec-blk{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#how-block h2 a {
  color: var(--words);
}

#form {
  border: var(--sec3-side) 1rem solid;
  padding: 1rem;
  margin: 1rem;
}

#form * {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

#form .formbox {
  margin: 5px;
}
#form p {
  color: var(--words);
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 1rem;
}

#form input, #form #submit {
  font-family: "Righteous", cursive;
  width: 100%;
}

#form input:hover,
#form input:active {
  box-shadow: 1px 1px 1px var(--sec3-side);
}

.button:hover,
.button:active {
  background-color: var(--sec3-side);
}
/*=====================
footer
======================*/
footer {
  padding: 0.5rem;
  background: linear-gradient(90deg, var(--navdark), var(--nav-fade));
  color: var(--navbar);
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
}

footer p span {
  font-size: 1.2rem;
}

footer p a {
  color: var(--words);
}

footer p a:focus, footer p a:hover, footer p a:active {
  text-shadow: 2px 2px 2px var(--wordsRev); 
}

/*=====================
Little touches
======================*/

/*In the dreaded case of image not found*/
img:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px;
  border: 1px dashed grey;
  background-color: white;
  z-index: 1;
  font-family: Verdana;
  font-size: 0.8em;
  content: "uh oh!";
}

/*=============================
Media Queries - Responsiveness
==============================*/

/*turn off animations based on browser setting*/

/*=====================
Media Queries - Print
======================*/
