/*========================
Declare variables for page
=========================*/
:root {
    
    /*colours*/
    --navbar: #08480c; /*green*/
    --border: #a5b5bf; /*bluegrey*/
    --text: #e9f1f7; /*offwhite*/
    --header: #4CAF50; /*lightgreen*/
    --pageBG: #ffffff; /*snow*/
}

/*=====================
Basic Styles and Layout
======================*/

/*set global styles*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: column nowrap;
}

body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/*remove default list and figure styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li, figure {
  padding: 0;
  margin: 0;
  border: 0;
}

/*fallback fonts - never shall Times New Roman be seen again!!!*/
h1, h3, h4, a, p, li, cite {
  font-family: Verdana, sans-serif;
  margin: 0;
}

/*=====================
Header and Nav Bar
======================*/
header {
  padding: 0;
  margin: 0;
  position: relative;
}

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--navbar);
  background-image: linear-gradient(to bottom, black, var(--navbar));
  z-index: 100;
}
/*nav menu - always at top right of screen*/
.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/*logo - always in top left corner*/
.logo {
    flex: 1 50px;
    justify-self: flex-start;
    align-self: flex-start;
}

/*nav buttons*/
.nav-button {
    margin: auto 10px;
    flex: 0 1 25px;
    outline: none;
    padding: 5px;
}

/*placeholder for shopping basket functionality*/
.checkout-float {
    color: var(--text, white);
    background-color: var(--navbar, darkgreen);
    background-image: linear-gradient(to bottom, black, var(--navbar));
    margin: auto 10px;
    flex: 0 1 25px;
    outline: none;
    padding: 5px;
}

/*background image for header*/
h1 {
  height: 33vh;
  width: 100%;
  margin: 0;
   background: linear-gradient(to bottom, var(--navbar), var(--navbar), var(--header), var(--text));
  background-image: url("https://github.com/MazontheMoon/fcc_rwd_project3_product/blob/master/images/leafy-header.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  position: relative;
  top: 0 ;
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom: 0.5rem solid black;
  color: black;
  font-family: Lobster, Georgia, serif;
  font-size: 4rem;
  text-shadow: 2px 2px 3px var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=====================
Section styling
======================*/
main {
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    background: linear-gradient(to bottom, black, var(--navbar) 5%, var(--header), var(--border));
}

h3 {
    margin: 0;
    padding: 5px;
    font-family: Lobster, Verdana, sans-serif;
    font-size: 2rem;
    line-height: 2.2rem;
    color: var(--text);
}

section p {
  background-color: white;
  margin: 5px;
  margin-top: 0;
  padding: 5px;
}

section {
  margin: 0 15px 10px;
}

/*What Section - list of product cards*/
.productlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.productbox {
  max-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 5px auto;
  padding: 5px;
  border: solid 3px black;
  border-radius: 6px;
}

h4 {
    margin: 0;
    padding: 5px;
    font-family: Fondamento, Verdana, sans-serif;
    font-size: 1.6rem;
}

p, li{
    margin: 0;
    padding: 5px;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
}

a {
    margin: 0;
    padding: 5px;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--text, white);
    text-decoration: none;
}

/*credit where credit is due*/

figure{
    position: relative;
}

.plantheadshot {
  border-radius: 100%;
  box-shadow: 3px 3px 3px black,
    -2px -2px 2px black;
}
cite {
  display: none;
}

/*=====================
Footer
======================*/

footer {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/*=====================
Little touches
======================*/

/*In the dreaded case of logo not found*/
.logo:after {
display: inherit;
position: absolute;
top: 0;
left: 0;
padding: 1px;
border: 1px dashed grey;
background-color: white;
z-index: 1;
font-family: Verdana;
font-size: 0.8em;
content: "uh oh!";
}

/*In the dreaded case of image not found*/
figure img:after {
display: inherit;
position: absolute;
top: 0;
left: 0;
padding: 2px;
border: 1px dashed grey;
background-color: white;
z-index: 1;
font-family: Verdana;
font-size: 0.8em;
content: "uh oh! No " attr(title) "";
}

/*=============================
Media Queries - Responsiveness
==============================*/

/*turn off animations based on browser setting*/

/*=====================
Media Queries - Print
======================*/